@media  screen and (max-width:480px) {
    nav{
       padding: 20px;
    }
    .serch{
        display: none;
    }
    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .NavbarBottom{
        flex-wrap: wrap;
    }
    .slider{
        clip-path: none;
    }
    .sliderImg{
        width: 90%;
    }
    .sliderbg{
       width: 100%;
       height: 100%; 
    }
    .slidertitle{
        display: none;
    }
    .sliderPrice{
        top: unset;
        bottom: -50;
        left: 0;
        background-color: lightgray;
    }
    .buybutton{
        right:0;
        top:0;
    }
    .features{
      flex-direction: column;
    }

    .product{
       clip-path: none; 
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .productImg{
        width: 60%;
        position:absolute;
     
    }
    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 400px;
    }
    .productTitle{
        font-size: 50px;
        margin: 0;
    }
    .gallary{
        display: none;
    }
    .newSeason{
        flex-direction: column;
    }
    .new_season_item:nth-child(2){
    padding: 50px;
    }
    footer{
      flex-direction: column;
      align-items: center;  
    }
    .footer_left{
        padding: 20px;
        width: 90%;
    }
    .footer_right{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }
    .footerRightTitle{
        text-align: center;
        margin-bottom: 5px;
    }
    .payment{
        width: 90%;
        padding: 20px;
    }
}